.so-widget-sow-image-default-1c389ca87c1a .sow-image-container {
  text-align: center;
  background: url("icon-bg.png") no-repeat center;
  background-size: cover;
}
.so-widget-sow-image-default-1c389ca87c1a .sow-image-container:hover {
  background: url("icon-bg-hover.png") no-repeat center;
  background-size: cover;
}
.so-widget-sow-image-default-1c389ca87c1a .sow-image-container .so-widget-image {
  display: inline-block;
  max-width: 100%;
  height: auto;
}